
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    {% for message in messages %}
    <div class = "alert alert-{{message.tags}} alert-dismissible fade show" role = "alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label = "Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

   
    <h3>CS437 PROJECT 7</h3>

   

    {% if user.is_authenticated %}
    <h3>Hello {{user}}</h3>
    <button type="submit" onclick="window.location.href='/logout'">Log Out</button>

    {% else %}
    <button type="submit" onclick="window.location.href='/register'">Sign Up</button>
    <button type="submit" onclick="window.location.href='/login'">Sign In</button>
    {%endif%}
    

    <script src = "" async defer></script>


</body>
</html>