
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>


    <h3>CS437 PROJECT 7</h3>
    <button type="submit"> <a href="/register"></a> Sign Up</button>
    <button type="submit"> <a href="/login"></a> Sign In</button>
    <button type="submit"> <a href="/logout"></a> Log Out</button>
    <script src = "" async defer></script>


</body>
</html>